<div class="panel panel-default" id="reset-password">
  <div class="panel-heading">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ad illum redeo. Efficiens dici potest. Satis est ad
      hoc responsum. Ita prorsus, inquam; </p>

    <p>Quid iudicant sensus? Duo Reges: constructio interrete. Sed residamus, inquit, si placet. Praeclare hoc
      quidem. </p>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_tag :url         => password_resets_path,
                           :layout      => :horizontal,
                           :label_col   => "col-lg-4",
                           :control_col => "col-lg-8" do |f| %>

        <%= f.text_field :identity %>

        <%= f.form_group do %>
          <%= f.submit t('password.reset') %>
        <% end %>
    <% end %>
  </div>
</div>
