<div class="media comment">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://lorempixel.com/64/64/people" alt="64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user %> <small><%= comment.created_at %></small></h4>
    <%= comment.content %>
  </div>
</div>
