<div class="media comment">
  <a class="pull-left" href="#">
    <img class="media-object img-responsive img-circle comment-avatar" src="<%= comment.user_avatar %>" alt="64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to comment.user, user_path(comment.user_id) %> <small><%= comment.created_at %></small></h4>
    <%= comment.content %>
  </div>
</div>
