<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <%= render :partial => 'comment', :locals => {:comment => comment} %>
  <% end %>
<% else %>
  <div class="center-block" id="no-comment">
    <div class="alert alert-info">
      <%= t('models.comment.none') %>
    </div>
  </div>
<% end %>
