<% if @comments.any? %>
  <%= render :partial => 'comment', collection: @comments %>
<% else %>
  <div class="center-block" id="no-comment">
    <div class="alert alert-info">
      <%= t('models.comment.none') %>
    </div>
  </div>
<% end %>
