<tr>
  <td><%= article.title %></td>
  <td><%= article.author %></td>
  <td>
    <%= link_to t('admin.editorial.feature.do.delete_article'), unfeature_admin_article_path(article.id), class: 'btn btn-danger btn-sm' %>
  </td>
</tr>
