<tr>
  <td><%= article.title %></td>
  <td><%= article.modifier.nickname %></td>
  <td>
    <%= link_to t('delete'), unfeature_admin_article_path(article.id), class: 'btn btn-danger btn-sm' %>
  </td>
</tr>
