<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-list"></span>
    </button>
  </li>
  <br>
  <li>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-picture"></span>
    </button>
  </li>
  <br>
  <li>
    <button id="show_comments" type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-comment"></span>
    </button>
  </li>
</ul>
