<div class="panel panel-default hidden" id="article-comments">
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <h3 class="panel-title"><%= t('models.article.comments') %></h3>
    </div>
    <div class="pull-right">
      <% if current_user %>
        <%= link_to t('models.comment.create'), new_article_comment_path(article.id),
                  :id => 'create_comment',
                  :class => "btn btn-default btn-sm",
                  :remote => true,
                  :data => {
                    :toggle => 'modal',
                    :target => '#modal-create-comment'
                  } %>
      <% end %>
    </div>
  </div>
  <div class="panel-body" id="comments-list">
  </div>
</div>

<!-- Modals -->
<div id="modal-create-comment" class="modal" aria-labelledby="modal-create-comment-label" aria-hidden="true" role="dialog">
</div>
