<div class="hgroup mb20">
  <h2 class="lead">
    <strong class="text-info"><%= articles.size %></strong>
    <%= t('search.results_for') %>
    <strong class="text-info"><%= params[:query] %></strong></h2>
</div>

<div class="col-md-12">
  <%= render partial: 'articles/article', collection: articles %>
</div>
