<% edit_mode = false if local_assigns[:edit_mode].nil? %>

<div class="tab-pane clearfix" id="videos">
  <h4>
    <%= t('models.article.videos') %>
    <small class="pull-right">
      <% if edit_mode %>
        <%= link_to new_article_video_path(@article.id),
                id: "add_video",
                class: "btn btn-primary btn-sm",
                data: {
                  toggle: 'modal',
                  target: '#modal-add-video'
                }  do %>
            <%= fa_icon "cloud-upload", text: t('models.video.add'), right: true %>
        <% end %>
      <% end %>
    </small>
  </h4>
  <hr>
</div>
