<%= bootstrap_form_for @article, url: {action: "create"} do |f| %>

  <div class="col-lg-3">
    <%= render 'articles/layouts/sidebar_edit', f: f %>
  </div>

  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ad illum redeo. Efficiens dici potest. Satis est ad
          hoc responsum. Ita prorsus, inquam; </p>
      </div>
      <div class="panel-body">
        <%= f.text_field  :title %>
        <%= f.text_area   :body, rows: 8, class: "tinymce" %>
      </div>
    </div>
  </div>
<% end %>
