<li>
    <i class="fa fa-share bg-aqua"></i>
    <div class="timeline-item">
        <span class="time"><i class="fa fa-clock-o"></i> <%= l(a.created_at) %></span>
        <h3 class="timeline-header"><%= t('article.shared_by', article: a.title, user: a.author) %></h3>
        <div class="timeline-footer">
            <%= link_to t('article.do.view'), article_path(a.trackable_id), class: "btn btn-primary btn-flat btn-xs" %>
        </div>
    </div>
</li>
