<li>
  <i class="fa fa-user bg-aqua"></i>
  <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> <%= l(a.updated_at) %></span>
      <h3 class="timeline-header"><%= t('article.updated_by', user: a.author, article: a.title) %></h3>
      <div class="timeline-footer">
        <%= link_to t('article.do.view'), article_path(a.trackable_id), class: 'btn btn-xs btn-primary' %>
        <%= link_to t('article.do.see_changes'), article_path(a.trackable_id), class: 'btn btn-xs btn-warning' %>
      </div>
  </div>
</li>
