<div class="panel panel-default" id="sidebar-news">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= t('nav.news') %>
    </h4>
  </div>
  <div class="list-group">
    <% @news.each do |n| %>
      <%= link_to article_path(n.slug), class: 'new list-group-item' do %>
        <%= n.title %>
      <% end %>
    <% end %>
  </div>
</div>
