<% if @videos.any? %>
  <div class="row" id="videos-list">
    <%= render partial: 'video', collection: @videos %>
  </div>
<% else %>
  <p class="bg-info"><%= t('models.video.none') %></p>
<% end %>


