<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="#" class="pull-right">Habitants Lieux Mémoires by GIP GPV</a>
        <ul class="list-inline">
          <li><a href="#">GitHub Project</a></li>
          <li><%= link_to "Conditions d'utilisation", page_path('cgu') %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          Apache 2.0 Licence - Powered by <a href="http://www.innovantic.fr">Innovantic</a>
        </div>
      </div>
    </div>
  </div>
</footer>
