<div class="container">
  <div class="row">
  <div class="col-sm-12" id="logosContainer">
      <a href="http://www.surlarivedroite.fr/" title="Sur la Rive Droite"><div class="logos-gpv"></div></a>
      <a href="http://www.ville-bassens.fr/" title="Ville de Bassens"><div class="logos-bassens"></div></a>
      <a href="http://www.lormont.fr/" title="Ville de Lormont"><div class="logos-lormont"></div></a>
      <a href="http://www.ville-cenon.fr/" title="Ville de Cenon"><div class="logos-cenon"></div></a>
      <a href="http://www.ville-floirac33.fr/" title="Ville de Floirac"><div class="logos-floirac"></div></a>
      <a href="http://www.lacub.fr/" title="La CUB"><div class="logos-lacub"></div></a>
      <a href="http://www.gironde.fr/" title="La Gironde"><div class="logos-gironde"></div></a>
      <a href="http://www.europe-en-aquitaine.eu/" title="Europe en Aquitaine"><div class="logos-ue"></div></a>
    </div>
  </div>
</div>

<footer id="footer" class="footer-nav">

  <div class="container">
    <div class="col-sm-12">
        <div class="pull-right">
          <a href="#" title="Mentions légales">Mentions légales</a> /
          <a href="#" title="Charte">Charte</a> /
          <a href="#" title="Plan du site">Plan du site</a> /
          <a href="#" title="Contacts">Contacts</a>
          <a href="https://twitter.com/rivedroitebx" title="Twitter RiveDroiteBx"><img src="<%= asset_path 'twitter.png' %>"></a>
          <a href="https://www.facebook.com/jaime.larivedroite" title="Facebook JaimeLaRiveDroite"><img src="<%= asset_path 'facebook.png' %>"></a>
        </div>
        <div class="pull-left">
          <strong>Habitants Lieux Mémoires</strong> / Projet du Groupement d’Intérêt Public du Grand Projet des Villes Rive Droite / Bassens, Lormont, Cenon et Floirac
        </div>
      </div>
    </div>

  </div>
</footer>

<footer id="footer" class="footer-legals">

  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          <a href="https://github.com/HabitantsLieuxMemoires/web-app" title="GitHub HabitantsLieuxMémoires">GitHub Project</a> : <%= link_to "Conditions d'utilisation", page_path('cgu') %>
          <span class="license"><a href="http://creativecommons.org/licenses/by-sa/3.0/fr/" title="Site Licence Creative Commons 3.0">Licence Creative Commons 3.0</a> - Powered by <a href="http://www.innovantic.fr" title="Site Innovantic">Innovantic</a></span>
        </div>
      </div>
    </div>

  </div>
</footer>
