<%= render 'shared/sidebar_actions' %>

<div class="well" id="sidebar-themes">
  <h4><%= t('nav.themes') %></h4>
</div>

<div class="well" id="sidebar-chronology">
  <h4><%= t('nav.chronology') %></h4>
</div>


<div class="well" id="sidebar-news">
  <h4><%= t('nav.news') %></h4>
</div>
