<%= render 'shared/sidebar_actions' %>

<%= render_cell :themes,        :index %>
<%= render_cell :chronologies,  :index %>

<div class="well" id="sidebar-news">
  <h4><%= t('nav.news') %></h4>
</div>
