<div class="well" id="sidebar-actions">

  <%= render 'shared/search_bar' %>

  <% if logged_in? %>
    <br>
    <%= link_to t('models.article.create'), new_article_path, class: 'btn btn-primary btn-block hidden-xs hidden-sm', role: 'button' %>
  <% end %>

</div>
