<div class="well" id="sidebar-actions">

  <div class="input-group">
    <input type="text" name="query" class="form-control typeahead" placeholder="Search article...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>

  <% if logged_in? %>
    <br>
    <%= link_to t('models.article.create'), new_article_path, class: 'btn btn-primary btn-block', role: 'button' %>
  <% end %>

</div>
