<ul class="images">
	<li><img src="http://lorempixel.com/184/123/city/?1"></li>
	<li><img src="http://lorempixel.com/184/123/city/?2"></li>
	<li><img src="http://lorempixel.com/184/123/city/?3"></li>
	<li><img src="<%= asset_path 'slideshow_create_your_own.png' %>"></li>
	<li><img src="http://lorempixel.com/184/123/city/?5"></li>
	<li><img src="http://lorempixel.com/184/123/city/?6"></li>
	<li><img src="http://lorempixel.com/184/123/city/?7"></li>
	<li><img src="http://lorempixel.com/184/123/city/?8"></li>
	<li><img src="http://lorempixel.com/184/123/city/?9"></li>
	<li><img src="http://lorempixel.com/184/123/city/?10"></li>
	<li><img src="http://lorempixel.com/184/123/city/?11"></li>
	<li><img src="http://lorempixel.com/184/123/city/?12"></li>
	<li><img src="http://lorempixel.com/184/123/city/?13"></li>
	<li><img src="http://lorempixel.com/184/123/city/?14"></li>
</ul>