<div class="panel panel-default" id="main-hero">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="hero-logo"></div>
      </div>
      <div class="col-lg-8">
        <div class="hero-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eam stabilem appellas. Huius ego nunc auctoritatem
            sequens idem faciam. Paria sunt igitur. Sed virtutem ipsam inchoavit, nihil amplius. Ad eos igitur converte
            te, quaeso. </p>

          <p>Quod equidem non reprehendo; Non semper, inquam; Primum Theophrasti, Strato, physicum se voluit; </p>

          <ul>
            <li>Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam causam Zenoni desciscendi fuisse.</li>
            <li>Satisne igitur videor vim verborum tenere, an sum etiam nunc vel Graece loqui vel Latine docendus?</li>
            <li>De vacuitate doloris eadem sententia erit.</li>
          </ul>

          <p>Velut ego nunc moveor. Duo Reges: constructio interrete. Ita prorsus, inquam; Itaque his sapiens semper
            vacabit. Tum ille: Ain tandem? Eam stabilem appellas. An potest cupiditas finiri? </p>

          <p>Velut ego nunc moveor. Cur haec eadem Democritus? </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" id="main-featured">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= fa_icon "star-o" %>
      <%= t('home.featured_stories') %>
    </h3>
  </div>
  <div class="panel-body">

  </div>
</div>

<div class="panel panel-default" id="main-popular">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= fa_icon "share-square-o" %>
      <%= t('home.popular_stories') %>
    </h3>
  </div>
  <div class="panel-body">

  </div>
</div>
