<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('about.title') %></h3>
  </div>
  <div class="panel-body">
    <p class="lead"><%= t('about.lead') %></p>

    <h4>Qu’est-ce que c’est ?</h4>
    <p>
    <strong>
    Un grand projet de ville « GPV » est un projet de développement social et urbain visant à réinsérer un ou plusieurs quartiers dans la dynamique de développement de leur agglomération.
    </strong>
    </p>
    <p>
    Cet outil, créé par la loi d’orientation pour l’aménagement et le développement durable du territoire de 1999, vient <strong>renforcer le projet socio-économique</strong> porté en <strong>faveur des quartiers les plus en difficulté</strong>, dans le cadre de la <a href="http://ville.gouv.fr/?presentation">politique de la ville</a>.
    </p>
    <p>
    Par la mise en œuvre de vastes opérations de renouvellement urbain, les <a href="http://www.surlarivedroite.fr/le-gpv-rive-droite/quest-ce-que-cest">GPV</a> ont pour objectif de <a href="http://www.surlarivedroite.fr/nos-actions/promouvoir-le-territoire">transformer durablement l’image</a> de ces quartiers et leur statut au sein de leur agglomération.
    </p>
    <p>
    <strong>50 sites en France</strong> ont été labellisés grand projet de ville au début des années 2000.
    </p>

    <br>
    <h4>Le GPV de la Rive Droite</h4>
    <p>
    <strong>
    Labellisé par l’État en 2001, sous le nom de « Grand Projet des Villes des Hauts-de-Garonne », le GPV de la Rive Droite a pour spécificité d’être intercommunal.
    </strong>
    </p>
    <p>
    Il s’inscrit sur <strong>le territoire des villes de <a href="http://www.ville-bassens.fr">Bassens</a>, <a href="http://www.lormont.fr">Lormont</a>, <a href="http://www.ville-cenon.fr">Cenon</a> et <a href="http://www.ville-floirac33.fr">Floirac</a></strong>. <a href="http://www.surlarivedroite.fr/le-projet-du-territoire/la-rive-droite-et-leurope">Des villes liées par la géographie et l’histoire</a>, qui ont tissé des liens de solidarité depuis de <a href="http://www.surlarivedroite.fr/le-projet-du-territoire/la-rive-droite-et-leurope/">longues années</a>.
    Le grand projet des villes se décline autour de <a href="http://www.surlarivedroite.fr/le-projet-du-territoire">4 axes majeurs</a> :
    <ul>
      <li>
      Le <strong><a href="http://www.surlarivedroite.fr/nos-actions/habiter">renouvellement urbain</a></strong>. Axe qui sera renforcé dès 2003 par la loi Borloo et la création de l’Agence Nationale de la Rénovation Urbaine (<a href="http://www.anru.fr/">ANRU</a>), puis élargi quelques années plus tard à d’autres types d’opérations urbaines.
      </li>
      <li>
      Les <strong><a href="http://www.surlarivedroite.fr/nos-actions/se-deplacer">politiques d’accompagnement</a></strong> en termes d’économie et d’emploi, d’éducation, de culture, de lutte contre les discriminations. Un axe qui comprend un volet équipements et un volet actions et médiation. C'est à ce titre ainsi qu'à celui de la revalorisation de l'image que le GPV a engagé dès 2009 un travail autour de la co construction avec les habitants d'une plateforme numérique de services dont Habitants, Lieux, mémoires est le premier élément.
      </li>
      <li>
      La <strong><a href="http://www.surlarivedroite.fr/nos-actions/promouvoir-le-territoire">revalorisation de l’image</a></strong> de la Rive Droite, depuis trop longtemps marginalisée, mobilise les acteurs et les habitants avec le lancement du label Rive Droite en 2009.
      </li>
      <li>
      Le <strong><a href="http://www.surlarivedroite.fr/nos-actions/saerer">développement du parc des Coteaux</a></strong>, atout majeur du territoire, révélé dès les premières années de création du GPV.
      </li>
    </ul>
    </p>
    <p>
    <strong><a href="http://www.surlarivedroite.fr/le-projet-du-territoire">Projet de territoire complet</a>, faisant appel à l’ensemble des acteurs et partenaires du territoire</strong>, il fait régulièrement l’objet de bilans partagés et de réécritures, au vu de l’évolution des besoins du territoire, des politiques publiques, des stratégies métropolitaines, régionales, nationales et européennes.
    </p>

    <br>
    <h4>En Savoir Plus</h4>
    <p>
    Pour mieux comprendre et suivre l’actualité de la Politique de la Ville, rendez-vous sur le site du ministère de la Ville : <a href="http://www.ville.gouv.fr">ville.gouv.fr</a>
    </p>
    <p>
    Pour être tenu informé de l'actualité du GPV, rendez-vous sur <a href="http://www.surlarivedroite.fr">http://www.surlarivedroite.fr</a>
    </p>
    <p>
    Pour mieux comprendre la démarche de construction de la plateforme numérique de services aux habitants, vous pouvez consulter la documentation qui a été mise en ligne sur la plateforme <a href="http://fr.scribd.com/collections/4306382/Innovation-numerique-et-sociale">Scribd - Innovation numérique et sociale</a>.
    </p>

  </div>
</div>
