<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('cgu.title') %></h3>
  </div>
  <div class="panel-body">
    <h3>Champ d'application</h3>
    <p>
    Les présentes Conditions Générales définissent les règles et conditions d'utilisation du site <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> édité par le Groupement d'Intérêt Public du Grand Projet des Villes de Bassens, Lormont, Cenon et Floirac qu'il s'agisse des services liés au site <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> ou des ses applications sur appareils mobiles, tablettes ou des ses applications sur les réseaux sociaux.
    </p>
    <br>
    <h3>L'éditeur</h3>
    <p>
    Le site Internet est édité par le Groupement d'Intérêt Public du Grand Projet des Villes de Bassens, Lormont, Cenon et Floirac ci après nommé GPV Rive Droite ou l'éditeur, sis Résidence Beausite, Bâtiment B0, rue Marcel Paul 33150 Cenon.
    </p>
    <p>
    Le directeur de la publication du site <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> est M. Etienne Parin.
    </p>

    <br>
    <h3>Site</h3>
    <p>
    Désigne le site <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a>, accessible au moyen des technologies disponibles et notamment d'un serveur, d'un ordinateur, d'une tablette et/ou d'un terminal mobile.
    </p>

    <br>
    <h3>Services</h3>
    <p>
    Par « services », on entend, sans que cette liste soit limitative, tous les programmes, services et applications multimédias liés au site <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> et nottament les contenus apportés par des contributeurs extérieurs, qu'il s'agisse de contribution au sein des articles constituant les contenus principaux du site, des commentaires ou des pièces jointes mises en ligne, soit pas les éditeurs du site soit par des contributeurs.
    </p>

    <br>
    <h3>L'utilisateur</h3>
    <p>
    Toute personne ayant accès au site ou à ses applications, quels que soient sa qualité (professionnel ou particulier), le lieu où elle se trouve ou son mode de connexion est considéré dans les présentes Conditions Générales d'Utilisation comme un utilisateur des services.
    L'utilisateur est informé des risques inhérents à l'usage du réseau Internet, de la possibilité de défaut de sécurité dans la transmission des données et de la continuité non garantie de l'accès au site ou aux services. Il appartient à l'Utilisateur de prendre toutes les mesures appropriées de façon à protéger la confidentialité de ses données personnelles. Il appartient également à l'Utilisateur de protéger ses matériels des éventuels virus et attaques malveillantes qui peuvent se déployer sur le réseau Internet.
    </p>

    <br>
    <h3>Propriété des contenus – Propriété intellectuelle</h3>
    <p>
    Sauf mention contraire, les contenus mis en ligne sur le site <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> sont publiés sous la licence <a href="http://creativecommons.org/licenses/by-sa/3.0/fr/">Creative Commons Attribution – Partage dans les mêmes conditions 3.0</a>. Le réemploi des données et des informations ainsi mises à disposition est autorisé sous réserve que soit explicitement mentionnée la source de ces données ou informations. En outre, tout réemploi de ces informations doit faire l'objet d'une mise à disposition sous la même licence <a href="http://creativecommons.org/licenses/by-sa/3.0/fr/">Creative Commons Attribution – Partage dans les mêmes conditions 3.0</a>.
    </p>
    <h4>Contenus protégés avec mention</h4>
    <p>
    Certains contenus du site font l'objet d'une protection des droits d'auteur, de limites de droits de reproduction, ou autre mesure de protection de leur intégrité intellectuelle. Si la mention de protection est explicite, l'utilisateur ne peut en aucun cas les reproduire sans autorisation des détenteurs de ces droits. Le GPV Rive Droite ne peut en aucun cas être tenu pour responsable de la violation de ces droits.
    </p>
    <h4>Contenus protégés sans mention</h4>
    <p>
    Dans le cas ou un contenu protégé par le droit de la propriété intellectuelle serait publié sur <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> sans autorisation de son auteur et contre le gré de celui-ci, le GPV Rive Droite s'engage à le retirer ou à le modifier sur simple demande.
    </p>
    <h4>Contenus issus des contributeurs</h4>
    <p>
    L'utilisateur contributeur s'engage à mentionner les sources employées pour constituer les contenus qu'il peut être amené à déposer sur <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> et à s'assurer que ces contenus sont libres de droits de reproduction. L'utilisateur s'engage également à vérifier que les médias (images, vidéos, textes, enregistrements sonores, fichiers numériques ou tout autre support) qu'il met à disposition sur <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> sont libres de droits de reproduction.
    </p>
    <p>
    Le GPV Rive Droite s'engage à garantir le respect de ces droits en modifiant ou supprimant ces contenus sur simple demande de la part des détenteurs de ces droits ou de leurs mandataires.
    </p>

    <br>
    <h3>Code déontologique</h3>
    <p>
    Le GPV Rive Droite s'engage à garantir les droits et la dignité des personnes qui pourraient être concernées, directement ou indirectement par la publication de contenus sur <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a>.
    </p>

    <br>
    <h3>Protection de la vie privée</h3>
    <p>
    L'Utilisateur est informé de la faculté de l'éditeur de mettre en place des collecteurs automatisés de données afin d'identifier l'Utilisateur et ses visites successives sur le Site, les Applications ou les Services.
    </p>
    <p>
    Les données de trafic sont générées lorsque que le terminal de l'Utilisateur est connecté au Site et aux Services. Sont collectées les données suivantes : provenance des connexions (fournisseurs d'accès), adresse IP, type et version du navigateur utilisé, durée de connexion, etc. Ces données peuvent être utilisées dans un but statistique afin de procéder à des analyses de fréquentation du Site et des Services (modules les plus ou les moins consultés, itinéraires préférés, niveaux d'activité par jour de la semaine et par heure de la journée, etc.) et de l'améliorer en l'adaptant aux besoins et aux goûts des Utilisateurs (reconnaissance de l'Utilisateur lorsqu'il accède au Site). Les données de trafic ne sont jamais exploitées nominativement.
    </p>
    <p>
    L'éditeur s'engage à prendre des précautions techniques reconnues afin de préserver la sécurité des données à caractère personnel et notamment empêcher qu'elles ne soient déformées, endommagées ou communiquées à des tiers non autorisés.
    </p>
    <p>
    Les données à caractère personnel ne seront pas communiquées, cédées ou d'une autre façon, transférées à des tiers. L'éditeur ne recueille aucune donnée à caractère personnel directement nominative à l'insu de leur titulaire ou sans leur accord préalable. L'éditeur s'engage à faire ses meilleurs efforts afin de mettre en oeuvre des mesures techniques et d'organisation appropriées pour protéger les données à caractère personnel.
    </p>
    <p>
    Chaque internaute ayant déposé des informations nominatives le concernant sur le Site, les Applications, les Services, ou les pages Rive Droite ou Habitants Lieux Mémoires des réseaux sociaux dispose des droits d'opposition (article 38 de la loi Informatique et libertés du 6 janvier 1978), d'accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) de ces données.
    </p>
    <p>
    Pour les exercer, chaque internaute peut contacter l'animateur de <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a>. Sur la page de contact dédiée (lien vers la page) ou par courrier à GIP GPV Rive Droite, Résidence Beausite, Bât. B0, rue Marcel Paul, 33150 Cenon.
    </p>
    <p>
    Le GPV Rive Droite, éditeur du Site et des Services respecte la vie privée des Utilisateurs et se conforme strictement aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
    </p>
    <p>
    L'Utilisateur donne expressément son autorisation pour qu'à la clôture du compte, les données de l'Utilisateur soient archivées et conservées confidentiellement au maximum pour la durée légale maximale de conservation des données.
    </p>
    <p>
    Les Utilisateurs du Site sont tenus de respecter les dispositions de la loi Informatique et libertés du 6 janvier 1978 dont la violation est passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée et, d'une manière générale, de tout acte susceptible de porter atteinte a la vie privée ou a la réputation des personnes.
    </p>

    <br>
    <h3>Commentaires et contributions</h3>
    <p>
    L'Utilisateur peut intervenir dans les espaces de commentaires du Site après avoir créé son compte, en renseignant le formulaire d'inscription ou son profil au moyen des informations requises comprenant l'adresse électronique de l'Utilisateur et un mot de passe. L'Utilisateur peut également créer un modifier un contenu. Le Site impose une identification des Utilisateurs souhaitant publier un commentaire, conformément aux dispositions réglementaires applicables. Lors de la création de son compte, l'Utilisateur choisit un identifiant et un mot de passe qui lui permettront d'accéder à son compte. Un courrier électronique de confirmation sera envoyé à l'Utilisateur par GPV Rive Droite à l'adresse électronique déclarée dans le formulaire d'inscription, l'invitant à valider son compte. L'Utilisateur garantit donner une adresse électronique valide pouvant permettre de procéder à son identification précise en cas de litige. Toute information personnelle fantaisiste ou calomnieuse est susceptible d'entraîner la fermeture du compte de l'Utilisateur.
    </p>
    <p>
    Le mot de passe choisi par l'internaute est personnel et confidentiel. L'Utilisateur titulaire du compte est seul responsable de l'utilisation de son mot de passe. Il s'engage à conserver secret son mot de passe et à ne pas le divulguer sous quelque forme que ce soit et sera juridiquement responsable de l'utilisation de son compte, y compris dans le cas de l'utilisation de son compte par une tierce personne. Il s'engage à notifier immédiatement à l'Editeur toute utilisation non autorisée de son compte ou toute autre violation de confidentialité. En cas de perte des identifiants donnant accès à son compte, l'Utilisateur pourra recevoir un courrier électronique à l'adresse électronique qu'il aura préalablement enregistrée pour modifier son mot de passe.
    </p>
    <p>
    L'Utilisateur est responsable de l'ensemble des actions effectuées au moyen de ses identifiants et mot de passe. A ce titre, il est seul responsable de l'utilisation de ses éléments d'identification par un tiers ou des actions ou déclarations faites par l'intermédiaire de son compte d'Utilisateur. Il est également responsable des messages, des liens hypertextes et de manière générale de tout contenu qu'il diffuse sur le Site et les Services. Les Utilisateurs sont seuls responsables de l'intégralité des contenus qu'ils transmettent au Site et des conséquences qui en résultent. Le GPV Rive Droite n'entend assumer aucune responsabilité rédactionnelle pour les opinions, les conseils, les textes ou pour tout autre contenu des Utilisateurs des Services du Site.
    </p>
    <p>
    Tout message déposé à la suite d'un article sera accompagné d'une fonction d'alerte permettant aux internautes de signaler un message manifestement illicite. Les modérateurs de Habitants, Lieux, Mémoires effectueront chaque jour une modération a posteriori des messages reçus. En cas d'atteinte aux lois en vigueur, aux bonnes moeurs ou aux présentes Conditions Générales d'Utilisation ou pour tout autre motif et sans avoir à s'en justifier, Le GPV Rive Droite se réserve le droit d'exclure pour une durée limitée ou définitive les Utilisateurs concernés des Services du Site. Le contenu multimédia (texte, vidéo, son, iconographie) transmis au Site par les Utilisateurs pourra être utilisé par le GPV Rive Droite.
    </p>
    <p>
    Les comportements suivants sont proscrits sur le Site et lors de l'utilisation des Services (liste non exhaustive) : - Les activités illégales sous toutes leurs formes, notamment la copie ou la distribution non autorisée de logiciels, de photos et d'images, le harcèlement, la fraude, les trafics prohibés; - La publication de commentaires contrevenant aux droits d'autrui ou à caractère diffamatoire, l'incitation aux crimes, aux délits et la provocation au suicide, les propos ou contenus injurieux, obscènes ou offensants, violents ou incitant à la violence, les propos politiques, racistes ou xénophobes, les propos ayant trait à la pornographie, la pédophilie, le révisionnisme et le négationnisme; - La divulgation d'informations permettant l'identification de membres de la communauté des Utilisateurs du Site, telles que le nom de famille, l'adresse postale, l'adresse électronique, le numéro de téléphone etc. sans accord explicite de ces derniers - Le détournement du service pour faire de la propagande ou du prosélytisme, à des fins professionnelles ou commerciales (prospection, racolage); - La contrefaçon ou le dénigrement de marques; - La reprise partielle ou totale de contenus (images, articles, objets multimédias, etc.) et le non respect des droits d'auteur et de reproduction en vigueur.
    </p>
    <p>
    L'Utilisateur s'engage ne pas intervenir sur le Site, les Applications ou les Services à l'aide de logiciels ou d'outils permettant notamment d'automatiser les requêtes et/ou d'extraire ou reproduire tout ou partie des éléments les composant ou tout ou partie des résultats des requêtes, ou d'avoir une activité susceptible de perturber leur fonctionnement.
    </p>
    <p>
    L'Utilisateur s'engage de manière générale à ne pas contrevenir aux prescriptions légales et réglementaires applicables aux Services et notamment aux dispositions du Code de la Propriété Intellectuelle. L'Utilisateur reconnaît et accepte qu'il est le propriétaire ou le titulaire des droits et/ou autorisations nécessaires relatifs aux droits d'auteur ou autres droits de propriété intellectuelle éventuellement attachés à sa contribution ainsi que toute œuvre qu'il a incorporé à sa contribution. L'Utilisateur garantit le GPV Rive Droite qu'il bénéficie de l'autorisation préalable et écrite de chaque personne physique identifiable dans sa contribution, pour utiliser leur nom et/ou leur image et/ou leur voix notamment, aux fins de diffusion sur le Site et les Services, en vue d'une utilisation conforme aux termes énoncés dans les Conditions Générales d'Utilisation du Site, des Services ou des réseaux sociaux concernés.
    </p>
    <p>
    L'Utilisateur garantit que les contenus diffusés respectent les dispositions législatives et réglementaires en vigueur et en particulier que ces contenus ne sont pas de nature à : - Constituer une infraction prévue et réprimée par la loi du 29 juillet 1881 sur la liberté de la presse; - Violer le droit à l'image ou à la vie privée des personnes (article 9 du Code civil); - Constituer une atteinte à la présomption d'innocence visée à l'article 9-1 du Code civil; - Enfreindre les droits de propriété intellectuelle et industrielle de quelque tiers que ce soit.
    </p>
    <p>
    Toute contribution de l'Utilisateur est effectuée à titre gracieux, sa mise en ligne ne donne donc droit à aucune rémunération.
    </p>
    <p>
    L'Utilisateur ne doit en aucun cas se livrer à une activité concurrente à celle de l'Editeur ou susceptible de lui causer un quelconque préjudice en utilisant le Site ou ses Services.
    </p>

    <br>
    <h3>Signalement</h3>
    <p>
    Tout contenu ou message extrait du Site ou des Services qui serait considéré comme illicite par un tiers (ex. : diffamatoire, attentatoire à la vie privée, au droit à l'image etc.) doit être signalé dans les plus brefs délais à GPV Rive Droite à l’aide de la page du formulaire avec les précisions sur l'auteur de la demande, la nature de la demande et l'emplacement du contenu faisant l'objet de la demande. En cas de signalement précis faisant état de la violation manifeste d'une disposition légale, GPV Rive Droite s'engage à intervenir promptement et à prendre les mesures nécessaires afin de faire cesser le trouble dénoncé.
    </p>

    <br>
    <h3>Connexion aux pages et applications du GPV Rive Droite sur les réseaux sociaux</h3>
    <p>
    Pour utiliser les pages ou applications « GPV Rive Droite» sur les réseaux sociaux, l'Utilisateur doit déjà disposer d'un compte sur chacun des réseaux sociaux auxquels il souhaite accéder et utiliser les identifiants et mots de passe que le réseau social lui aura communiqué.
    </p>

    <br>
    <h3>Cookies</h3>
    <p>
    Dispositions communes : Le Site est susceptible de stocker des fichiers cookies sur le terminal de l'Utilisateur afin d'enregistrer son profil et de restaurer les pages personnalisées et profils d'Utilisateurs lorsque l'Utilisateur est connecté via son terminal habituel. Ces petits fichiers peuvent contenir, par exemple, des données de trafic et ses préférences.
    </p>
    <p>
    Les cookies déposés sur le terminal de l'Utilisateur lors de sa visite sur le Site ou sur les Applications qui lui sont liées permettent de mesurer et de connaître l'audience du Site, d'identifier les modules, Services et les rubriques consultés ainsi que les comportements et parcours de navigation. Ces informations sont utiles pour mieux personnaliser les Services et les contenus qui apparaissent sur le Site.
    </p>
    <p>
    La durée de conservation de ces fichiers cookies dans le terminal des Utilisateurs est au maximum de douze (12) mois à compter de leur placement.
    </p>
    <p>
    L'Utilisateur peut accepter ou refuser les cookies. La plupart des navigateurs Internet acceptent automatiquement les cookies. L'Utilisateur peut désactiver les cookies afin de s'opposer à leur enregistrement sur son terminal ou les supprimer en utilisant les options de son navigateur. Chaque navigateur étant différent, l'Utilisateur est invité à consulter la notice de son navigateur pour le paramétrer à sa convenance.
    </p>

    <br>
    <h3>Liens</h3>
    <p>
    La mise en place par un tiers d'un lien vers le Site est autorisée à condition que les pages du Site apparaissent dans une fenêtre entière et isolée, sous leurs adresses respectives. Elle doit s'effectuer sans commettre d'acte de concurrence déloyale, de dénigrement ou de parasitisme à l'encontre du Site.
    </p>
    <p>
    Le Site référence d'autres sources et sites Internet, GPV Rive Droite ne dispose pas des moyens pour contrôler ces sites et exclut toute garantie à cet égard. Elle ne saurait être tenue responsable du contenu de toute page hors du Site et de tout autre site lié au Site. L'insertion d'un lien à un site n'implique en aucun cas l'approbation du site par GPV Rive Droite, ces sites Internet étant édités par des tiers sous leur propre responsabilité.
    </p>

    <br>
    <h3>Responsabilité / Garantie</h3>
    <p>
    GPV Rive Droite ne peut donner aucune garantie de fiabilité quant à l'ensemble des informations et autres données présentes sur le Site, qu'elles soient fournies par le Site, par ses partenaires ou par tout tiers. En conséquence, toutes les informations et autres données figurant sur le Site et les Services sont fournies uniquement à titre d'information. La fourniture des informations ne saurait être assimilée, de quelque façon que ce soit, à un conseil spécifique. L'Utilisateur reconnaît, en conséquence, prendre connaissance des informations et des autres données du Site et des Services qui lui sont proposées, à ses seuls risques et périls.
    </p>
    <p>
    GPV Rive Droite n'est pas en mesure de garantir à l'Utilisateur que le Site et ses Services répondront à ses attentes ni qu'aucune erreur n'apparaîtra au cours de leur utilisation. GPV Rive Droite ne garantit pas la compatibilité du Site et des Services aux usages spécifiques de l'Utilisateur.
    </p>
    <p>
    GPV Rive Droite étant étranger aux opérations commerciales réalisées à partir des sites Internet de tiers dont les contenus sont indexés par le service au moyen de liens hypertextes, GPV Rive Droite ne saurait être responsable à l'égard des tiers, consommateurs ou Utilisateurs, de tout dommage subi par eux du fait des services fournis par lesdits sites Internet de tiers. GPV Rive Droite n'assume aucune responsabilité concernant les produits et services proposés par ses partenaires commerciaux.
    </p>
    <p>
    GPV Rive Droite ne peut être tenue pour responsable des dommages imprévisibles et/ou indirects subis par l'Utilisateur, tels que, sans que cette liste ne soit limitative, un manque à gagner, une perte de chance, une perte de revenus, de clientèle, de données, tout préjudice financier ou commercial, tout trouble commercial ou tout préjudice immatériel.
    </p>
    <p>
    GPV Rive Droite ne pourra pas être tenue responsable de toute utilisation non conforme des Services par les Utilisateurs ou tout autre tiers. Dans l'hypothèse où la responsabilité de GPV Rive Droite serait recherchée en raison d'un manquement de l'Utilisateur à l'une quelconque des stipulations des conditions d'utilisation, GPV Rive Droite pourra appeler l'Utilisateur en garantie.
    </p>
    <p>
    GPV Rive Droite n'exerce aucun contrôle a priori des contenus ou des messages publiés sur le Site ou au sein des Services. Lesdits contenus et messages sont directement publiés par les Utilisateurs sans connaissance ou fixation préalables par GPV Rive Droite.
    </p>
    <p>
    Ainsi les Utilisateurs sont seuls responsables de l'intégralité des contenus qu'ils transmettent et publient et des conséquences qui en résultent. GPV Rive Droite en sa qualité d'hébergeur décline toute responsabilité pour les opinions, conseils, textes, informations, données, fichiers, photographies, liens hypertextes, messages ou autres contenus publiés par les Utilisateurs. Tout Utilisateur le reconnaît explicitement et accepte de garantir GPV Rive Droite contre toute plainte ou action judiciaire émanant de lui-même ou d'un tiers quel qu'il soit.
    </p>
    <p>
    La responsabilité de GPV Rive Droite ne pourra en aucun cas être recherchée en raison des contenus accessibles au moyen des liens hypertextes indexés sur le Site ou ses Services et notamment des commentaires dont des extraits peuvent être reproduits sur le Site, et des contenus promotionnels, publicités, produits, services, fenêtres pop-up ou tout autre message du type promotionnel que le Site pourrait être amené à intégrer.
    </p>
    <p>
    Notamment, GPV Rive Droite ne saurait être tenue pour responsable si les liens hypertextes indexés sur le Site renvoient vers un contenu contraire aux lois et règlements en vigueur ou dont le téléchargement par l'Utilisateur est susceptible d'endommager son matériel ou ses installations.
    </p>
    <p>
    GPV Rive Droite ne saurait être tenue pour responsable des difficultés de diffusion des contenus ou, plus généralement, de toutes perturbations du réseau Internet affectant l'utilisation des Services. GPV Rive Droite ne donne aucune garantie quant aux conditions de diffusion, à la qualité de diffusion et de transmission, d'accessibilité des Services.
    </p>
    <p>
    La responsabilité de GPV Rive Droite ne saurait être engagée en cas de perte ou dommage subi par l'Utilisateur ou tout tiers à la suite d'une défaillance d'accès au Site ou aux Services et/ou au(x) site(s) Internet sur lesquels les contenus sont diffusés, du réseau de l'Internet, des moyens de télécommunications et plus généralement, due à un événement de force majeure, tel que défini par la jurisprudence des tribunaux français.
    </p>

    <br>
    <h3>Modification des conditions générales d'utilisation</h3>
    <p>
    L'Éditeur peut à tout moment modifier les termes des présentes Conditions Générales d'Utilisation. Ces modifications engagent l'Utilisateur dès leur mise en ligne. Il est en conséquence recommandé à l'Utilisateur de consulter régulièrement les Conditions Générales d'Utilisation afin de prendre connaissance de ces éventuelles modifications.
    </p>

    <br>
    <h3>Acceptation des contions générales d'utilisation</h3>
    <p>
    En accédant au(x) Site, Applications ou Services, l'Utilisateur déclare avoir lu, compris et accepté les présentes Conditions Générales. Il déclare par ailleurs qu'il est juridiquement capable de donner son consentement aux présentes et qu'il entend s'y conformer pleinement et sans restriction. S'il est mineur ou incapable, il déclare avoir l'autorisation d'une personne titulaire de l'autorité parentale, d'un tuteur ou d'un curateur. Les présentes Conditions Générales prévalent sur celles de l'Utilisateur.
    </p>

    <br>
    <h3>Loi applicable - litiges</h3>
    <p>
    Les présentes Conditions Générales d'Utilisation sont soumises à tous égards au droit français.
    </p>
    <p>
    Les parties conviennent de faire leur possible pour résoudre à l'amiable toute contestation susceptible de résulter de l'interprétation, de l'exécution et/ou de la cessation des présentes Conditions Générales d'Utilisation. Tous les litiges auxquels le présent Contrat pourrait donner lieu, concernant tant sa validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites seront soumis aux tribunaux compétents dans les conditions de droit commun. Compte tenu de la dimension mondiale du réseau Internet, chaque Utilisateur doit se conformer à toutes les règles applicables dans le pays où il réside.
    </p>

    <br>
    <h3>Hébergement</h3>
    <p>
    Le site <a href="http://www.habitantslieuxmemoires.fr">www.habitantslieuxmemoires.fr</a> est hébergé par la société <a href="http://aws.amazon.com/fr/">Amazon</a>.
    </p>

  </div>
</div>
