<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="modal-see-changes-label"><%= t('models.report.changes') %></h4>
</div>
<div class="modal-body">
  <% @track.tracked_changes.each do |change| %>
    <%= render 'diff', column: change[0], from: change[1]["from"], to: change[1]["to"] %>
  <% end %>
</div>
