<div class="jumbotron">
  <h1><%= t('article.not_found') %></h1>
  <p><%= t('article.not_found_details') %></p>
  <p><a href="/" class="btn btn-primary btn-lg" role="button"><%= t('do.back_home') %></a></p>
</div>
