<div id="modal-see-changes" class="modal" aria-labelledby="modal-see-changes-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="modal-view-image" class="modal" aria-labelledby="modal-view-image-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog photo-modal">
    <div class="modal-content">
    </div>
  </div>
</div>

