<div id="modal-add-image" class="modal" aria-labelledby="modal-add-image-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="modal-add-video" class="modal" aria-labelledby="modal-add-video-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="modal-select-image" class="modal" aria-labelledby="modal-select-image-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="modal-insert-link" class="modal" aria-labelledby="modal-insert-link-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="modal-insert-link-label"><%= t('article.link.title.insert') %></h4>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <label class="control-label" for="article_title"><%= t('article.do.search') %></label>
          <div class="input-group">
            <input class="form-control insert-link-url" type="text">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
