<div id="modal-add-image" class="modal" aria-labelledby="modal-add-image-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="modal-select-image" class="modal" aria-labelledby="modal-select-image-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
