<div id="modal-report-article" class="modal" aria-labelledby="modal-report-article-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="modal-create-comment" class="modal" aria-labelledby="modal-create-comment-label" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
