/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

#header {
  height: 200px;
  div.logo {
    float: left;
    margin-left: 100px;
    width: 150px;
    clear: both;
    height: 150px;
  }

  div.login {
    float: right;
    margin-tpop: 10px;
    margin-left: 100px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid red;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    @include border-top-radius(6px);
    @include border-bottom-radius(6px);
  }

  div.map {
    height: 200px;
    width: 100%;
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/8/8a/Gironde_map_routes_villes.png');
  }
}

.pageContainer {
  margin-top:20px;

  .sidebar .sideBox {
    margin-top:20px;
    clear:both;

    .boxTitle
    {
      font-weight:bold;
      text-align:center;
    }

    ul
    {
      margin-top:5px;
      margin-bottom:5px;

      li span
      {
        float:right;
        font-weight: bold;
      }
    }

    button {
      float:right;
    }
  }
}