.tt-dropdown-menu {
  width:500px !important;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width:767px)
{
  .tt-dropdown-menu {
    width:300px !important;
  }
}

.tt-dataset-search .no-results {
  text-align: center;
}

.tt-suggestion {
  padding:2px !important;
  cursor:pointer;
  border-bottom: 1px dashed #E7E7E7;
  @include clearfix;
}
.tt-suggestion img {
  float:left;
  height:30px;
  width:30px;
}
.tt-suggestion span.title {
  padding-left: 5px;
  font-size: 12px;
}
.tt-suggestion span.author {
  display:block;
  font-style: italic;
  text-align: center;
  font-size:10px;
  float:right;
}
.tt-suggestion div.summary {
  line-height: 14px;
  text-align: justify;
  text-indent: 5px;
  font-size: 12px;
  @include clearfix;
}
