body {
  margin-top: 50px;
}

.business-header {
  height: 240px;
  background: url(http://placehold.it/1920x240) center center no-repeat;
  background-size: cover;
}

#main-hero {
  .hero-logo {
    height: 320px;
    background: url(http://placehold.it/240x320) center center no-repeat;
    background-size: cover;
  }
}