<div class="col-md-3 thumb image">
    <a class="thumbnail" href="<%= image.article_image_url %>" data-title="<%= image.title %>" data-toggle="lightbox" data-gallery="article-images">
        <img class="img-responsive" src="<%= image.article_image_url(:thumb) %>">
    </a>
</div>
