<% if @images.any? %>
  <div class="row" id="images-list">
    <%= render partial: 'image', collection: @images %>
  </div>
<% else %>
  <p class="bg-info"><%= t('models.image.none') %></p>
<% end %>
