<% if @images.any? %>
  <div class="row">
    <%= render partial: 'image', collection: @images %>
  </div>
<% else %>
  <div class="center-block" id="no-image">
    <div class="alert alert-info">
      <%= t('models.image.none') %>
    </div>
  </div>
<% end %>
