<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="modal-select-image-label"><%= t('models.image.select') %></h4>
</div>
<div class="modal-body">
  <div class="row" id="image_chooser">
    <%= render partial: 'file_select', collection: @article.images %>
  </div>
</div>
