<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="modal-select-image-label"><%= t('article.image.title.insert') %></h4>
</div>
<div class="modal-body">
  <% if @article.images.any? %>
    <div class="row" id="image_chooser">
        <%= render partial: 'file_select', collection: @article.images %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('article.image.none') %>
    </div>
  <% end %>
</div>
