<!-- Bloc de recherche -->
<%= text_field_tag "searchString", nil, placeholder:"Recherche...", class:"search"  %>

<!-- Ajouter un article -->
<%= button_tag "Créer un nouvel article", class: "btn btn-default", type:"button" %>

<!-- Thématiques -->
<div class="sideBox">
  <div class="boxTitle">Thématiques</div>

  <ul>
    <li>Nature <span>1</span></li>
    <li>Lormont <span>12</span></li>
    <li>.... <span>?</span></li>
  </ul>
  <%= button_tag "Toutes...", class: "btn btn-default btn-xs", type:"button" %>

</div>

<!-- Chronologie -->
<div class="sideBox">
  <div class="boxTitle">Chronologie</div>

  <ul>
    <li>1980 <span>2</span></li>
    <li>1990 <span>1</span></li>
    <li>.... <span>?</span></li>
  </ul>
  <%= button_tag "Toutes...", class: "btn btn-default btn-xs", type:"button" %>
</div>


<!-- Nouveautés -->