<div class="well" id="sidebar-actions">
  <div class="input-group">
    <input type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
  </div>

  <br>

  <% if logged_in? %>
    <%= link_to t('models.article.create'), new_article_path, class: 'btn btn-primary btn-block', role: 'button' %>
  <% end %>

</div>

<div class="well" id="sidebar-themes">
  <h4><%= t('nav.themes') %></h4>
</div>

<div class="well" id="sidebar-chronology">
  <h4><%= t('nav.chronology') %></h4>
</div>


<div class="well" id="sidebar-news">
  <h4><%= t('nav.news') %></h4>
</div>